.account-details-content p {
      margin-bottom: 12px;
      line-height: 1.7;
      display: flex; 
      flex-wrap: wrap;
  }
  .account-details-content strong {
     display: inline-block;
     width: 130px; 
     margin-right: 10px;
     color: #555;
     flex-shrink: 0; 
  }
  .account-details-content span {
      flex-grow: 1; 
      word-break: break-word; 
  }
  
  
  .account-details-content .character-id-list {
      list-style-type: none;
      padding-left: 0;
      margin-left: 140px; 
      margin-top: -1.7em; 
      margin-bottom: 12px; 
  }
  .account-details-content .character-id-list li {
      margin-bottom: 6px;
      font-size: 0.95em;
      color: #444;
  }
  
