#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
